.blueprint(ng-controller="BlueprintCtrl")
	.panel.panel-info
		.panel-heading
			span
				i.fa.fa-flask
				.name(ng-bind="blueprint.name")

			.pull-right
				.version(ng-bind="'v' + blueprint.version")

		.panel-body
			.nav.nav-tabs
				li.active 
					a(href="#") Documents
					
			.col-sm-4
				.list-group
					a.list-group-item(
							ng-repeat="document in documents" 
							ng-click="selectDocument(document)" 
							ng-class="{'active': documentIsSelected(document)}"
						)
						.name(ng-bind="document.name")

				button.btn.btn-sm.btn-success.create(ng-click="createDocument()")
					i.fa.fa-plus
					label Add Document


			.col-sm-8
				af-document(
					ng-if="selectedDocument"
					document="selectedDocument"
					on-deleted="deselectDocument()"
				)
