.create_attribute
	.modal-header
		h3.modal-title Create Attribute

	.modal-body
		form.row(ng-submit="submit()" novalidate)
			.form-group.col-sm-12
				label Name
				input.form-control(
					type="text" 
					ng-model="attribute.name"
					autofocus
				)
			.form-group.col-sm-12(ng-class="{'col-sm-6': showDocumentSelection()}")
				label Type
				select.form-control(
					ng-options="value as key for (key, value) in attributeTypes"
					ng-model="attribute.type"
				)
			.form-group.col-sm-6(ng-if="showDocumentSelection()")
				label Document Type
				select.form-control(
					ng-options="documentSchema._id as documentSchema.name for documentSchema in documentSchemas"
					ng-model="attribute.document_type"
				)

	.modal-footer
		button.btn.btn-default(ng-click="$dismiss()") Cancel
		button.btn.btn-success(ng-click="submit()") 
			label Create
			i.fa.fa-chevron-right