.document-schema.well
	input.name.form-control(type="text" placeholder="Enter a name" ng-model="documentSchema.name")
	button.btn.btn-sm.btn-primary.save(ng-click="saveDocumentSchema()")
		i.fa.fa-save
		label Save
	button.btn.btn-sm.btn-default.delete(ng-click="deleteDocumentSchema()")
		i.fa.fa-trash

	table.attributes.table.table-hover.table-striped.table-condensed
		thead
			tr
				th Attribute Name
				th(width="200") Attribute Type
				th(width="100")
		tbody
			tr(ng-repeat="attribute in attributes")
				td
					span(
						editable-text="attribute.name" 
						e-name="name" 
						e-form="rowform" 
						e-required=""
					) {{attribute.name}}
				td
					span(
						editable-select="attribute.type" 
						e-name="name" 
						e-form="rowform" 
						e-ng-options="value as key for (key, value) in attributeTypes" 
						e-required=""
						) {{attribute.type | dictionary:attributeTypes}}
				td
					form.form-buttons.form-inline(
						editable-form="" 
						name="rowform" 
						onaftersave="saveAttribute(attribute)" 
						ng-show="rowform.$visible" 
					)
						.btn-group
							button.btn.btn-xs.btn-primary(type="submit" ng-disabled="rowform.$waiting")
								i.fa.fa-save
							button.btn.btn-xs.btn-default(type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()")
								i.fa.fa-close
					.buttons(ng-show="!rowform.$visible")
						.btn-group
							button.btn.btn-xs.btn-primary(ng-click="rowform.$show()")
								i.fa.fa-pencil
							button.btn.btn-xs.btn-default(ng-click="deleteAttribute(attribute)")
								i.fa.fa-trash
				tr(ng-hide="attributes.length")
					td(colspan="3" align="center") No attributes.

	button.btn.btn-sm.btn-success.create(ng-click="addAttribute()")
		i.fa.fa-plus
		label Add Attribute
