.edit-document
	.modal-header
		h3.modal-title
			span(ng-if="createMode") Create
			span(ng-hide="createMode") Edit
			span {{' ' + documentSchema.name}}

	.modal-body
		form.form-horizontal(ng-submit="submit()" novalidate)
			.form-group(ng-repeat="attribute in attributes" ng-switch="attribute.type" ng-show="canEditAttribute(attribute)")
				label.control-label.col-lg-3 {{attribute.name}}
				.col-lg-1
				.col-lg-7
					.input-group(ng-switch-default)
						.input-group-addon
							i.fa.fa-font
						input.form-control(
							type="text" 
							ng-model="document.data[attribute._id]"
						)
					.input-group(ng-switch-when="0")
						.input-group-addon
							i.fa.fa-font
						input.form-control(
							type="text" 
							ng-model="document.data[attribute._id]"
						)
					.input-group(ng-switch-when="1")
						.input-group-addon
							i.fa.fa-calculator
						input.form-control(
							type="number" 
							ng-model="document.data[attribute._id]"
						)
					.input-group(ng-switch-when="2")
						.input-group-addon
							i.fa.fa-calendar
						input.form-control(
							type="date"
							ng-model="document.data[attribute._id]"
						)
					.input-group(ng-switch-when="3")
						.input-group-addon
							i.fa.fa-dollar
						input.form-control(
							type="number" 
							step="0.01" 
							ng-model="document.data[attribute._id]"
						)
					.input-group(ng-switch-when="4")
						.input-group-addon
							i.fa.fa-file-o
						.form-control-static {{getDocumentDisplayName(attribute)}}
						.input-group-addon
							button.btn.btn-xs.btn-default(type="button" ng-click="selectDocument(attribute)")
								i.fa.fa-search
							button.btn.btn-xs.btn-default(type="button" ng-click="clearDocument(attribute)")
								i.fa.fa-close
					.input-group.image-upload(ng-switch-when="6")
						.input-group-addon
							i.fa.fa-image
						.form-control-static 
							cl-image.thumbnail.inline(
								ng-if="document.data[attribute._id]"
								public-id="{{document.data[attribute._id]}}"
								width="250" 
								crop="fit" 
								quality="80"
								format="jpg"
							)
						.input-group-addon
							button.btn.btn-xs.btn-default(
								ng-disabled="uploading"
								type="button"
								ng-file-select
								ng-file-change="uploadImage(attribute, $files)"
							)
								i.fa.fa.fa-upload(ng-hide="uploading")
								i.fa.fa.fa-refresh.fa-spin(ng-show="uploading")
							button.btn.btn-xs.btn-default(
								type="button"
								ng-click="clearImage(attribute)"
								ng-disabled="uploading"
							)
								i.fa.fa-close
				.col-lg-1

	.modal-footer
		button.btn.btn-default(ng-click="$dismiss()") Cancel
		button.btn.btn-primary(ng-click="submit()") 
			label(ng-if="createMode") Create
			label(ng-hide="createMode") Save
			i.fa.fa-chevron-right